@using System.Web.UI.WebControls
@using RMS.Utility
@using RMS.Web.Extensions
@model RMS.Web.Models.ViewModel.MachineryRunningInfoViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h5>Main Engines Generators & M/S Engines</h5>
        </div>
        <div class="body">

            <table>
                <tr>
                    <td>@Html.ActionLink("Add New Running Hrs", "Edit", "MachineryRunningInfo", new { @class = "btn btn-primary" })</td>
                    <td><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "ShipEmployed")'">Employed Duration</button></td>
                    <td><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "FuelConsumption")'">Consmption</button></td>
                    <td>
                        @using (Html.BeginForm("SearchByKey", "MachineryRunningInfo", FormMethod.Get, new { @class = "submit-allow ignore-validation" }))
                        {

                            <table>
                                <tr>
                                    <td>
                                        @Html.Label("Search Key")
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(x => x.SearchKey, new { @class = "textBoxsize form-control", tabindex = 1, autofocus = "autofocus", placeholder = "Serach Value" })
                                    </td>
                                    <td>
                                        @Html.SearchButton()
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Date From:</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.DateFrom, "{0: dd MMMM yyyy}", new { @class = "datepicker textBoxsize form-control", PlaceHolder = "Enter Date" })
                                            </div>

                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Date To:</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.DateTo, "{0: dd MMMM yyyy}", new { @class = "datepicker textBoxsize form-control", PlaceHolder = "Enter Date" })
                                            </div>

                                        </div>
                                    </td>
                                    @*<td>
                                            @Html.ActionLink("Download", "Download", "MachineryRunningInfo", new { Id = Model.SearchKey, DateFrom=Model.DateFrom, DateTo=Model.DateTo, Type = "Download" }, null)
                                        </td>*@
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    @{
        var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
        grid.Bind(Model.MachineryRunningInfos, rowCount: Model.MachineryRunningInfos.Count, autoSortAndPage: true);
        grid.Pager(WebGridPagerModes.All);
        @grid.GetHtml(htmlAttributes: new { MachineryRunningIdentity = "grid" },
            tableStyle: "webgrid-table webgrid",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",
            firstText: "First",
            lastText: "Last",
            nextText: "Next",
            mode: WebGridPagerModes.All,
            previousText: "Previous",
            columns: grid.Columns(
            grid.Column(header: "No.",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
                                //grid.Column("MachineryRunningIdentity", header: "Serial No"),
                                         grid.Column("ControlShipInfo.ControlName", header: "Ship Name"),
                                grid.Column("CommonCode.TypeValue", header: "No of Hours Run"),

                                                  grid.Column("CommonCode1.TypeValue", header: "Type"),
                                                  grid.Column("Hour", header: "Hour"),
                                                  grid.Column("Minute", header: "Minute"),
                grid.Column(header: "Edit", format: @<text>@Html.ActionLink("Edit", "Edit", "MachineryRunningInfo", new { id = item.MachineryRunningIdentity }, null)</text>, canSort: false),
                grid.Column(header: "Delete", format: @<text> @Html.ActionLink("Delete", "Delete", "MachineryRunningInfo", new { id = item.MachineryRunningIdentity }, null)</text>),
                grid.Column(header: "Download", format: @<text> @Html.ActionLink("Download", "Download", "MachineryRunningInfo", new { id = item.ShipId, DateFrom = Model.DateFrom, DateTo = Model.DateTo }, null)</text>)
                @*grid.Column(header: "Download", format: @<text> @Html.ActionLink("Download", "Download", "MachineryRunningInfo", new { id = item.ShipId, DateFrom = Model.DateFrom, DateTo = Model.DateTo }, null)</text>)*@

                                                                            ));
    }
</div>
