@using RMS.Utility
@using RMS.Web.Extensions
@model RMS.Web.Models.ViewModel.BooksAndBrViewModel
@{
    ViewBag.Title = "Active User Information";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Row -->
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <div>
                    <h3 class="card-title">Books and BR Information</h3>
                </div>
                <div class="card-options">
                    @Html.ActionLink("Add New", "Edit", "BooksAndBr", new { @class = "btn btn-primary", style = "color:#fff;" })

                </div>
            </div>
            <div class="card-body" style="max-height:100% !important">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered text-nowrap w-100">
                        <thead>

                            <tr>
                                <th style="text-align: center; font-size: 15px">Books And Br Name</th>
                                <th style="text-align: center; font-size: 15px">File</th>
                                @if (PortalContext.CurrentUser.RoleId == 2 || PortalContext.CurrentUser.RoleId == 5)
                                {
                                    <th style="text-align: center; font-size: 15px">Edit</th>
                                    <th style="text-align: center; font-size: 15px">Delete </th>
                                }
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.BooksAndBrs)
                            {
                                <tr>
                                    <td style=""><a target="_blank" href="@item.UrlLink">@item.BooksAndBrName</a></td>
                                    <td style="text-align: center; color: blue">
                                        <a target="_blank" href="@item.UrlLink"style=""><img src="~/Content/icons/32x32/pdf.png" /></a>
                                    </td>
                                    @if (PortalContext.CurrentUser.RoleId == 2 || PortalContext.CurrentUser.RoleId == 5)
                                    {
                                        <td style="text-align: center"><input type="button" class="btn btn-info" value="Edit" onclick="location.href='@Url.Action("Edit", "BooksAndBr", new { id = item.BooksAndBrIdentity, })'" /></td>
                                        <td style="text-align: center"><input type="button" class="btn btn-danger" value="Delete" onclick="location.href='@Url.Action("Delete", "BooksAndBr", new { id = item.BooksAndBrIdentity, })'" /></td>
                                    }

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row End-->






