@using RMS.Utility
@model RMS.Web.Models.ViewModel.YearlyReturnViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Row -->
<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div>
                    <h3 class="card-title">Hull & Stracture</h3>
                </div>
                <div class="card-options">
                    @Html.ActionLink("Add New", "YearlyReturnEdit", "DamageMachineriesInfo", new { @class = "btn btn-primary", style = "color:#fff;" })

                </div>
            </div>
            <div class="card-body" style="max-height:100% !important">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered text-nowrap w-100">
                        <thead>
                            <tr>
                                <th class="wd-15p">Ship Name</th>
                                @*<th class="wd-15p">Report Year</th>*@
                                @*<th class="wd-20p">Deck No</th>*@
                                @*<th class="wd-20p">Frmae No</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.YearlyReturns)
                            {
                                <tr>
                                    <td><a href="@Url.Action("YearlyReturnIndexByShipName", "DamageMachineriesInfo", new {ShipId=item.ShipId })">@item.ControlShipInfo.ControlName</a></td>
                                    @*<td>@item.YearId</td>
                                        <td>@item.CommonCode.TypeValue</td>*@
                                    @*<td>
                                            @Html.ActionLink("Edit", "YearlyReturnEdit", "DamageMachineriesInfo", new { id = item.YearlyReturnId }, null) |
                                            @Html.ActionLink("Download", "Download", "DamageMachineriesInfo", new { id = item.ShipId }, null)
                                        </td>*@
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div>
                    <h3 class="card-title">Internal Combustion Engine</h3>
                </div>
                <div class="card-options">
                    <a class = "btn btn-primary", style = "color:#fff;" href="@Url.Action("Edit", "ICE", null)">Add New</a>
                    @*@Html.ActionLink("Add New", "Edit", "ICE", new { @class = "btn btn-primary", style = "color:#fff;" })*@

                </div>
            </div>
            <div class="card-body" style="max-height:100% !important">
                <div class="table-responsive">
                    <table id="example1" class="table table-striped table-bordered text-nowrap w-100">
                        <thead>
                            <tr>
                                <th class="wd-15p">Ship Name</th>
                                @*<th class="wd-15p">Report Year</th>*@
                                @*<th class="wd-20p">Deck No</th>*@
                                @*<th class="wd-20p">Frmae No</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ICEs)
                            {
                                <tr>
                                    <td><a href="@Url.Action("ICEBYShipName", "ICE", new {Id=item.ControlShipInfoId })">@item.ControlShipInfo.ControlName</a></td>
                                    @*<td>@item.YearId</td>
                                        <td>@item.CommonCode.TypeValue</td>*@
                                    @*<td>
                                            @Html.ActionLink("Edit", "YearlyReturnEdit", "DamageMachineriesInfo", new { id = item.YearlyReturnId }, null) |
                                            @Html.ActionLink("Download", "Download", "DamageMachineriesInfo", new { id = item.ShipId }, null)
                                        </td>*@
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row End-->

