@model RMS.Web.Models.ViewModel.FortnightlyInfoViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm("Create", "FortnightlyInfo", FormMethod.Post, new { @class = "UserForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.FortnightlyInfo.FortNightlyIdentity)
        <div class="container">
            <div class="aaa">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">
                        রিফিট/ডকিং অগ্রগতি বিবরণ তথ্য :
                    </legend>
                    <br />

                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">জাহাজের নাম:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.FortnightlyInfo.ControlShipIdentity, Model.ControlShipSelectListItems, "-Select-", new { @class = "dropdownsize form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">সেকশন:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.FortnightlyInfo.WorkCategoy, Model.SectionsListItems, "-Select-", new { @class = "dropdownsize form-control" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Dr Type:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.FortnightlyInfo.DrType, Model.DrSelectListItems, "-Select-", new { @class = "dropdownsize form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">DR :</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.FortnightlyInfo.No, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value", onchange = "count25()" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">WR :</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.FortnightlyInfo.WrNo, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">DR Date :</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.FortnightlyInfo.DrDate, "{0: dd MMMM yyyy}", new { @class = "datepicker textBoxsize form-control", placeholder = "Enter Date" })
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">PMH :</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.FortnightlyInfo.PMH, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Work Description :</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(x => x.FortnightlyInfo.Description, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value", onchange = "count75()" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Remarks :</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(x => x.FortnightlyInfo.Remarks, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form_group">
                <div style="float: right">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <div><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "FortnightlyInfo")'">Back to List </button></div>
            <div class="row">
                <div class="col-sm-offset-4" id="newpost" style="color:red; padding-left:3px;">
                    <p>@TempData["message"]</p>
                </div>
            </div>
        </div>
    }

   