@using RMS.Web.Extensions
@model RMS.Web.Models.ViewModel.FuelConsumptionViewModel
@{
    ViewBag.Title = (Model.FuelConsumption.FuelConsumptionIdentity > 0) ? "Edit" : "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm("Save", "FuelConsumption", FormMethod.Post, new { @class = "UserForm" }))
    {
        <div class="container">
            <div class="aaa">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">
                       Fuel Consumption Information
                    </legend>
                    <br />
                    @if (ViewBag.Title == "Edit")
                    {
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Serial Number:</label>
                                    <div class="col-md-8">
                                        @Html.DisplayFor(x => x.FuelConsumption.FuelConsumptionIdentity, "-Select-", new { @class = "dropdownsize form-control", tabindex = 1 })
                                        @Html.HiddenFor(x => x.FuelConsumption.FuelConsumptionIdentity)
                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Ship Name:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.FuelConsumption.ShipId, Model.ShipSelectListItems, "-Select-", new { @class = "dropdownsize form-control", tabindex = 2 })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Machinery:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.FuelConsumption.Machinery, Model.CommonCodeSelectList, "-Select-", new { @class = "dropdownsize form-control", tabindex = 3 })
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Machinary Oil:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.FuelConsumption.MachinaryOil, new { @class = "textBoxsize form-control", tabindex = 4, placeholder = "Enter Value" })
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Mahinary Oil Type:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.FuelConsumption.MahinaryOilType, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Lub Oil:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.FuelConsumption.LubOil, new { @class = "textBoxsize form-control", tabindex = 6, placeholder = "Enter Value" })
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">LuboilType:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.FuelConsumption.LuboilType, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form_group">
                <div style="float: right">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>

            <div><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("NavTab", "MachineryRunningInfo")'">Back to List </button></div>
            <div class="row">
                <div class="col-sm-offset-4" id="newpost" style="color:red; padding-left:3px;">
                    <p>@TempData["message"]</p>
                </div>
            </div>
        </div>
    }
</div>
