@using RMS.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bangladesh Navy</title>

    <style>
        label{
            font-weight:bold;
        }
        thead > tr > th {
            text-align: center;
        }
        thead > tr {
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
        tbody > tr > td {
        }
        tbody > tr {
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    </style>
    <!-- Favicon -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />

    <!-- Title -->
    <!--Bootstrap css-->
    <link rel="stylesheet" href="~/Resource/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!--Style css -->
    <link href="~/Resource/assets/css/style.css" rel="stylesheet" />
    <link href="~/Resource/assets/css/dark-style.css" rel="stylesheet" />
    <link href="~/Resource/assets/css/skin-modes.css" rel="stylesheet">

    <!-- P-scrollbar css-->
    <link href="~/Resource/assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />

    <!-- Sidemenu css -->
    <link href="~/Resource/assets/css/sidemenu.css" rel="stylesheet" />

    <!-- Rightsidebar css -->
    <link href="~/Resource/assets/plugins/sidebar/sidebar.css" rel="stylesheet">

    <!-- INTERNAL Morris  Charts css-->
    <link href="~/Resource/assets/plugins/morris/morris.css" rel="stylesheet" />

    <!---Icons css-->
    <link href="~/Resource/assets/css/icons.css" rel="stylesheet" />

    <!-- INTERNAL Data table css -->
    <link href="~/Resource/assets/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Resource/assets/plugins/datatable/responsivebootstrap4.min.css" rel="stylesheet" />

    <!-- Tabs css -->
    <link href="~/Resource/assets/plugins/tabs/tabs.css" rel="stylesheet" />



</head>

<body class="app sidebar-mini dark-menu">
    <div id="page">
        <div class="page-main">

            <!-- Sidebar menu-->
            <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
            <aside class="app-sidebar toggle-sidebar">
                <div class="app-sidebar__logo">
                    <a class="header-brand" href="@Url.Action("index", "Home")">
                        <img src="~/Resource/assets/images/brand/logo.png" class="header-brand-img desktop-lgo" alt="zdash logo">
                        <img src="/images/BNSLogo.png" class="header-brand-img dark-logo" alt="zdash logo">
                        <img src="~/Resource/assets/images/brand/icon.png" class="header-brand-img mobile-logo" alt="zdash logo">
                        <img src="/images/BNSLogo.png" class="header-brand-img darkmobile-logo" alt="zdash logo">
                    </a>
                </div>
                @if (PortalContext.CurrentUser.IsValidate)
                {
                    Html.RenderAction("Menu", "Home");

                }
                else
                {
                    Html.RenderAction("Login", "Account");

                }

            </aside>
            <!--sidemenu end-->
            <!--app-header-->
            <div class="app-header header">
                <div class="container-fluid">
                    <div class="d-flex">
                        <a class="header-brand" href="index.html">
                            <img src="/images/BNSLogo.png" class="header-brand-img main-logo" alt="BN logo">
                            <img src="/images/BNSLogo.png" class="header-brand-img dark-main-logo" alt="BN logo">
                            <img src="/images/BNSLogo.png" class="header-brand-img dark-icon-logo" alt="BN logo">
                            <img src="/images/BNSLogo.png" class="header-brand-img icon-logo" alt="BN logo">
                        </a><!-- logo-->
                        <div class="app-sidebar__toggle" data-toggle="sidebar">
                            <a class="open-toggle" href="#"><i class="fe fe-align-left"></i></a>
                            <a class="close-toggle" href="#"><i class="fe fe-x"></i></a>
                        </div>
                        <form class="form-inline">
                            @*<div class="search-element" style="display:none;">
                                    <button class="btn btn-primary-color" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <input type="search" class="form-control header-search" placeholder="Search...." aria-label="Search" tabindex="1">
                                </div>*@
                        </form>
                        <div class="d-flex order-lg-2 ml-auto header-right">
                            <div class="dropdown navsearch">
                                <a data-toggle="dropdown" class="nav-link icon">
                                    @*<i class="zmdi zmdi-search"></i>*@
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <div class="p-2">
                                        <button class="btn btn-primary-color" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <input type="search" class="form-control header-search" placeholder="Search...." aria-label="Search" tabindex="1">
                                    </div>
                                </div>
                            </div>
                            <div class="d-md-flex">
                                <a href="#" class="nav-link icon full-screen-link">
                                    <i class="zmdi zmdi-fullscreen fullscreen-button"></i>
                                </a>
                            </div>






                            @if (@PortalContext.CurrentUser.IsValidate == false)
                            {
                                {
                                    Html.RenderAction("Login", "Account");
                                }
                            }
                            else
                            {
                                <div class="d-md-flex">
                                    @Html.Partial("_LoginPartial")

                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <!--app-header end-->
            <!-- Page Content -->
            <div class="app-content toggle-content">
                <div class="side-app">
                    @RenderBody()
                </div>
                <footer class="footer text-center"> Designed & Developed By Infinity Technology International Ltd <img src="~/images/InfinityLogo.png" alt="home" /> </footer>
            </div>
            <!-- End Page Content -->
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/AppScripts/ShipInfoEdit.js"></script>


    <script src="~/Scripts/APP/datepicker.js"></script>
    <script src="~/Scripts/APP/DatePickerVaalidation.js"></script>

    @RenderSection("scripts", required: false)
    <script src="~/Scripts/APP/AppTimeOut.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @*<link href="~/CommonDesign/commonBootStrap.css" rel="stylesheet" />*@



    <!-- Back to top -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- Jquery js-->
    @*<script src="~/Resource/assets/js/jquery.min.js"></script>*@

    <!--Bootstrap.min js-->
    <script src="~/Resource/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/Resource/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--Jquery Sparkline js-->
    <script src="~/Resource/assets/js/jquery.sparkline.min.js"></script>

    <!-- Chart Circle js-->
    <script src="~/Resource/assets/js/circle-progress.min.js"></script>

    <!-- Star Rating js-->
    <script src="~/Resource/assets/plugins/rating/jquery.rating-stars.js"></script>

    <!--Moment js-->
    <script src="~/Resource/assets/plugins/moment/moment.min.js"></script>

    <!--Side-menu js-->
    <script src="~/Resource/assets/plugins/sidemenu/sidemenu.js"></script>

    <!-- P-scrollbar js-->
    <script src="~/Resource/assets/plugins/p-scrollbar/p-scrollbar.js"></script>
    <script src="~/Resource/assets/plugins/p-scrollbar/p-scrollbar-leftmenu.js"></script>

    <!--Peitychart js -->
    <script src="~/Resource/assets/plugins/peitychart/jquery.peity.min.js"></script>
    <script src="~/Resource/assets/plugins/peitychart/peitychart.init.js"></script>

    <!-- Rightsidebar js -->
    <script src="~/Resource/assets/plugins/sidebar/sidebar.js"></script>

    <!-- INTERNAL Apex-charts js-->
    <script src="~/Resource/assets/js/apexcharts.js"></script>

    <!-- INTERNAL Data tables js-->
    <script src="~/Resource/assets/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Resource/assets/plugins/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/Resource/assets/plugins/datatable/datatable.js"></script>
    <script src="~/Resource/assets/plugins/datatable/dataTables.responsive.min.js"></script>

    <!-- INTERNAL JVectormap js-->
    <script src="~/Resource/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Resource/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Resource/assets/plugins/jvectormap/gdp-data.js"></script>

    <!-- INTERNAL Charts js-->
    <script src="~/Resource/assets/plugins/chart/chart.min.js"></script>
    <script src="~/Resource/assets/plugins/chart/chart.bundle.js"></script>

    <!--INTERNAL Custom-charts js-->
    @*<script src="~/Resource/assets/js/index.js"></script>*@


    <!-- INTERNAl WYSIWYG Editor js -->
    <script src="~/Resource/assets/plugins/wysiwyag/jquery.richtext.js"></script>
    <script src="~/Resource/assets/plugins/wysiwyag/richText1.js"></script>

    <!-- INTERNAl Summernote js-->
    <script src="~/Resource/assets/plugins/summernote/summernote-bs4.js"></script>
    <script src="~/Resource/assets/js/summernote.js"></script>

    <!-- INTERNAl ckeditor js-->
    <script src="~/Resource/assets/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/Resource/assets/js/formeditor.js"></script>

    <!-- Custom js-->
    <script src="~/Resource/assets/js/custom.js"></script>

</body>
</html>







