<!DOCTYPE html>
<html>
<style type="text/css">
    .commonbackground {
        background: rgba(242,10000,1000,100);
        /*background: -moz-linear-gradient(left, rgba(242,246,248,1) 4%, rgba(242,246,248,1) 8%, rgba(181,198,208,1) 41%, rgba(216,225,231,1) 70%, rgba(224,239,249,1) 91%, rgba(224,239,249,1) 98%);
        background: -webkit-gradient(left top, right top, color-stop(4%, rgba(242,246,248,1)), color-stop(8%, rgba(242,246,248,1)), color-stop(41%, rgba(181,198,208,1)), color-stop(70%, rgba(216,225,231,1)), color-stop(91%, rgba(224,239,249,1)), color-stop(98%, rgba(224,239,249,1)));
        background: -webkit-linear-gradient(left, rgba(242,246,248,1) 4%, rgba(242,246,248,1) 8%, rgba(181,198,208,1) 41%, rgba(216,225,231,1) 70%, rgba(224,239,249,1) 91%, rgba(224,239,249,1) 98%);
        background: -o-linear-gradient(left, rgba(242,246,248,1) 4%, rgba(242,246,248,1) 8%, rgba(181,198,208,1) 41%, rgba(216,225,231,1) 70%, rgba(224,239,249,1) 91%, rgba(224,239,249,1) 98%);
        background: -ms-linear-gradient(left, rgba(242,246,248,1) 4%, rgba(242,246,248,1) 8%, rgba(181,198,208,1) 41%, rgba(216,225,231,1) 70%, rgba(224,239,249,1) 91%, rgba(224,239,249,1) 98%);
        background: linear-gradient(to right, rgba(242,246,248,1) 4%, rgba(242,246,248,1) 8%, rgba(181,198,208,1) 41%, rgba(216,225,231,1) 70%, rgba(224,239,249,1) 91%, rgba(224,239,249,1) 98%);*/
    }

    /*.menubar {
        background: rgba(206,199,236,1);
        background: -moz-linear-gradient(left, rgba(206,199,236,1) 0%, rgba(206,199,236,1) 26%, rgba(216,208,239,1) 32%, rgba(235,233,249,1) 55%, rgba(194,192,234,1) 97%, rgba(193,191,234,1) 98%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(206,199,236,1)), color-stop(26%, rgba(206,199,236,1)), color-stop(32%, rgba(216,208,239,1)), color-stop(55%, rgba(235,233,249,1)), color-stop(97%, rgba(194,192,234,1)), color-stop(98%, rgba(193,191,234,1)));
        background: -webkit-linear-gradient(left, rgba(206,199,236,1) 0%, rgba(206,199,236,1) 26%, rgba(216,208,239,1) 32%, rgba(235,233,249,1) 55%, rgba(194,192,234,1) 97%, rgba(193,191,234,1) 98%);
        background: -o-linear-gradient(left, rgba(206,199,236,1) 0%, rgba(206,199,236,1) 26%, rgba(216,208,239,1) 32%, rgba(235,233,249,1) 55%, rgba(194,192,234,1) 97%, rgba(193,191,234,1) 98%);
        background: -ms-linear-gradient(left, rgba(206,199,236,1) 0%, rgba(206,199,236,1) 26%, rgba(216,208,239,1) 32%, rgba(235,233,249,1) 55%, rgba(194,192,234,1) 97%, rgba(193,191,234,1) 98%);
        background: linear-gradient(to right, rgba(206,199,236,1) 0%, rgba(206,199,236,1) 26%, rgba(216,208,239,1) 32%, rgba(235,233,249,1) 55%, rgba(194,192,234,1) 97%, rgba(193,191,234,1) 98%);
    }

    .commonMarquee {
        background: rgba(242,246,248,1);
        background: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(242,246,248,1) 7%, rgba(181,198,208,0.99) 31%, rgba(224,239,249,0.96) 88%, rgba(216,225,231,0.96) 99%, rgba(216,225,231,0.96) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(7%, rgba(242,246,248,1)), color-stop(31%, rgba(181,198,208,0.99)), color-stop(88%, rgba(224,239,249,0.96)), color-stop(99%, rgba(216,225,231,0.96)), color-stop(100%, rgba(216,225,231,0.96)));
        background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(242,246,248,1) 7%, rgba(181,198,208,0.99) 31%, rgba(224,239,249,0.96) 88%, rgba(216,225,231,0.96) 99%, rgba(216,225,231,0.96) 100%);
        background: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(242,246,248,1) 7%, rgba(181,198,208,0.99) 31%, rgba(224,239,249,0.96) 88%, rgba(216,225,231,0.96) 99%, rgba(216,225,231,0.96) 100%);
        background: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(242,246,248,1) 7%, rgba(181,198,208,0.99) 31%, rgba(224,239,249,0.96) 88%, rgba(216,225,231,0.96) 99%, rgba(216,225,231,0.96) 100%);
        background: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(242,246,248,1) 7%, rgba(181,198,208,0.99) 31%, rgba(224,239,249,0.96) 88%, rgba(216,225,231,0.96) 99%, rgba(216,225,231,0.96) 100%);
    }*/
</style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bangladesh Navy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="commonbackground">
    <div class="navbar navbar-inverse navbar-fixed-top success commonMarquee">
        <div class="container">
            <div class="success">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">

                @{Html.RenderAction("Menu", "Home");}
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="color:black">

        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/AppScripts")

    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="~/Scripts/APP/datepicker.js"></script>*@
    @RenderSection("scripts", required: false)

</body>
</html>






