@using RMS.Web.Extensions
@model RMS.Web.Models.ViewModel.As_AsViewModel
@{
    ViewBag.Title = (Model.AsAsInfo.AsAndAsIdentity > 0) ? "Edit" : "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm("Save", "AsAs", FormMethod.Post, new { @class = "UserForm" }))
    {
        <div class="container">
            <div class="aaa">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">
                        As And As Information
                    </legend>
                    <br />
                    @if (ViewBag.Title == "Edit")
                    {
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Serial Number:</label>
                                    <div class="col-md-8">
                                        @Html.DisplayFor(x => x.AsAsInfo.AsAndAsIdentity, "-Select-", new { @class = "dropdownsize form-control", tabindex = 9 })
                                        @Html.HiddenFor(x => x.AsAsInfo.AsAndAsIdentity)
                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Ship Name:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.AsAsInfo.ShipId, Model.AsAsInfoSelectListItems, "-Select-", new { @class = "dropdownsize form-control", tabindex = 9 })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">AsAndAsDate:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.AsAsInfo.AsAndAsDate, "{0: dd MMMM yyyy}", new { @class = " datepicker textBoxsize form-control " })
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">PrevAsAndAsDate:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.AsAsInfo.PrevAsAndAsDate, "{0: dd MMMM yyyy}", new { @class = " datepicker textBoxsize form-control " })
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">AsAndAsClass:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.AsAsInfo.AsAndAsClass, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">AsAndAsLocation:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.AsAsInfo.AsAndAsLocation, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">AsAndAsDescription:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.AsAsInfo.AsAndAsDescription, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">UpdateCalc:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.AsAsInfo.UpdateCalc, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>

                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>
            <div class="form_group">
                <div style="float: right">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <div>@Html.ActionLink("Back to List", "Index", "AsAs", new { @class = "btn btn-primary" })</div>
            <div class="row">
                <div class="col-sm-offset-4" id="newpost" style="color:red; padding-left:3px;">
                    <p>@TempData["message"]</p>
                </div>
            </div>
        </div>


    }
</div>


