@using RMS.Utility
@using RMS.Web.Extensions
@model RMS.Web.Models.ViewModel.ProcurementScheduleViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h5>Procurement Schedule</h5>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-2">
                    @Html.ActionLink("Add New Procurement", "Edit", "ProcurementSchedule", new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-10">
                    @using (Html.BeginForm("SearchByKey", "ProcurementSchedule", FormMethod.Get, new { @class = "submit-allow ignore-validation" }))
                    {
                        <div>
                            <div class="pull-right">
                               &nbsp; &nbsp;  @Html.SearchButton()&nbsp;
                            </div>
                            <div class="pull-right">
                                @Html.TextBoxFor(x => x.SearchKey, new { @class = "textBoxsize form-control", tabindex = 1, autofocus = "autofocus", placeholder = "Serach Value" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    @{
        var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
        grid.Bind(Model.ProcurementSchedules, rowCount: Model.ProcurementSchedules.Count, autoSortAndPage: true);
        grid.Pager(WebGridPagerModes.All);
        @grid.GetHtml(htmlAttributes: new { ProcurementId = "grid" },
            tableStyle: "webgrid-table webgrid",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",
            firstText: "First",
            lastText: "Last",
            nextText: "Next",
            mode: WebGridPagerModes.All,
            previousText: "Previous",
            columns: grid.Columns(
                                                      grid.Column("ProcurementId", header: "Serial No"),
                                                      //grid.Column("ShipInfo.ShipName", header: "Ship Name"),
                                                                        grid.Column("Description", header: "Description"),
                                                                        grid.Column("Qty", header: "Quantity"),
                                                                        grid.Column("EstTotalPrice", header: "Est.Total Price(Lac)"),
                                                                        grid.Column("Currency", header: "Currency"),
                                                                        grid.Column("AIPReceived", header: "AIP Received"),
                                                                        grid.Column("SpecSentToDGDP", header: "Spec Sent To DGDP"),
                                                                        grid.Column("TenderOpened", header: "Tender Opened "),
                                                                        grid.Column("QuatationRec", header: "Quatation Received"),
                                                                       grid.Column("ApprovedByAFD", header: "Approved By AFD"),
                                                                       grid.Column("ConttractSigned", header: "Conttract Signed"),
                                                                     
                                                                       
                                                                       grid.Column("Remark", header: "Remark"),                         
                grid.Column("Edit", format: @<text>@Html.ActionLink("Edit", "Edit", "ProcurementSchedule", new { id = item.ProcurementId }, null)</text>),
                grid.Column("Delete", format: @<text> @Html.ActionLink("Delete", "Delete", "ProcurementSchedule", new { id = item.ProcurementId }, null)</text>),
                grid.Column("Download", format: @<text> @Html.ActionLink("Download", "Download", "ProcurementSchedule", new { id = item.ProcurementId, DateFrom = Model.DateFrom, DateTo = Model.DateTo }, null)</text>)
                                          ));
}
</div>

<div>
    @*<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "MachineryRunningInfo")'"><</button>*@
</div>
