@model RMS.Web.Models.ViewModel.UserViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CommonDesign/commonBootStrap.css" rel="stylesheet" />
@using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { @class = "UserForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <br/>
    <div class="container">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                    <h2>Reset Password</h2>
                </legend>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label for="UserName" class="col-md-4 control-label"><h5><b>User ID:</b></h5></label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", autofocus = "autofocus", tabindex = 1, placeholder = "Enter User ID" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                    </div>
                </div>

                @*<div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label for="OldPassword" class="col-md-4 control-label"><h5><b>Old Password:</b></h5></label>
                            <div class="col-md-8">
                                @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control", tabindex = 2, placeholder = "Enter Password" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label for="Password" class="col-md-4 control-label"><h5><b>New Password:</b></h5></label>
                            <div class="col-md-8">
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control", tabindex = 3, placeholder = "Enter Password" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label for="ConfirmPassword" class="col-md-4 control-label"><h5><b>Confirm Password:</b></h5></label>
                            <div class="col-md-8">
                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", tabindex = 4, placeholder = "Enter ConfirmPassword" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                    </div>
                </div>*@


                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label for="ConfirmPassword" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <input type="submit" id="btnSave" value="Reset Password" onclick="showhide()" class="btn btn-primary" tabindex=5 />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                    </div>
                </div>

                @*<div class="row">
                    <div class="col-sm-offset-4" id="newpost" style="color:green; padding-left:3px;">
                        
                    </div>
                </div>*@
                <br />
                <p style="color:red">@TempData["message"]</p>

                @*<div class="row">
                    <div>
                        <h4>  @Html.ActionLink("Show All User List", "Index", "User", new { tabindex = 6 })</h4>
                    </div>
                </div>*@

            </fieldset>
        </div>
   
}

@section scripts
{
    <script type="text/javascript">
        function showhide() {
            var div = document.getElementById("newpost");
            if (div.style.display !== "none") {
                div.style.display = "none";
            }
        }
    </script>
}
