@using RMS.Web.Extensions
@model RMS.Web.Models.ViewModel.ShipPowerViewModel
@{
    ViewBag.Title = (Model.ShipPower.ShipPowerIdentity > 0) ? "Edit" : "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @using (Html.BeginForm("Save", "ShipPower", FormMethod.Post, new { @class = "UserForm" }))
    {
        <div class="container">
            <div class="aaa">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">
                        Ship Power
                    </legend>
                    <br />
                    @if (ViewBag.Title == "Edit")
                    {
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Serial Number:</label>
                                    <div class="col-md-8">
                                        @Html.DisplayFor(x => x.ShipPower.ShipPowerIdentity, "-Select-", new { @class = "dropdownsize form-control", tabindex = 9,  required = "required" })
                                        @Html.HiddenFor(x => x.ShipPower.ShipPowerIdentity)
                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Ship Name:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.ShipPower.ShipId, Model.ShipSelectListItems, "-Select-", new { @class = "dropdownsize form-control", tabindex = 9, required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Description:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipPower.Description, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value", required = "required" })
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Speed (kts):</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipPower.Speed, new { @class = "textBoxsize form-control", onkeypress = " return isNumberKey(event)", tabindex = 5, placeholder = "Enter Neumeric Value", required = "required" })
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Duration (hrs):</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipPower.Duration, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Neumeric Value", required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Endurance (Hrs):</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipPower.EnduranceHr, new { @class = "textBoxsize form-control", onkeypress = " return isNumberKey(event)", tabindex = 5, placeholder = "Enter Neumeric Value", required = "required" })
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Endurance (Nm):</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipPower.EnduranceNm, new { @class = "textBoxsize form-control", onkeypress = " return isNumberKey(event)", tabindex = 5, placeholder = "Enter Neumeric Value", required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Shaft (RPM):</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipPower.ShaftSpeed, new { @class = "textBoxsize form-control", onkeypress = " return isNumberKey(event)", tabindex = 5, placeholder = "Enter Neumeric Value", required = "required" })
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Power (kwb):</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipPower.Power, new { @class = "textBoxsize form-control", tabindex = 5, onkeypress = " return isNumberKey(event)", placeholder = "Enter Neumeric Value", required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Consumption (ltr/hrs):</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipPower.FuelConsumption, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value", required = "required" })
                                </div>

                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form_group">
                <div style="float: right">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <div>@Html.ActionLink("Back to List", "Index", "ShipPower", new { @class = "btn btn-primary" })</div>
            <div class="row">
                <div class="col-sm-offset-4" id="newpost" style="color:red; padding-left:3px;">
                    <p>@TempData["message"]</p>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    //onkeypress = " return isNumberKey(event)",
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;

        if (charCode != 46 && charCode > 31
    && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>
