@using RMS.Web.Extensions
@model RMS.Web.Models.ViewModel.RefitDockingScheduleViewModel
@{
    ViewBag.Title = (Model.RefitDockingSchedule.RefitDockingIdentity > 0) ? "Edit" : "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @using (Html.BeginForm("Save", "RefitDockingSchedule", FormMethod.Post, new { @class = "UserForm" }))
    {
        <div class="container">
            <div class="aaa">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">
                        Yearly Refit Docking Schedule
                    </legend>
                    <br />
                    @if (ViewBag.Title == "Edit")
                    {
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Serial Number:</label>
                                    <div class="col-md-8">
                                        @Html.DisplayFor(x => x.RefitDockingSchedule.RefitDockingIdentity, "-Select-", new { @class = "dropdownsize form-control", tabindex = 9 })
                                        @Html.HiddenFor(x => x.RefitDockingSchedule.RefitDockingIdentity)
                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Ship Name:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.RefitDockingSchedule.ShipNameIdentity, Model.ShipSelectListItems, "-Select-", new { @class = "dropdownsize form-control", tabindex = 9 })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">BranchCode:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.RefitDockingSchedule.BranchCode, Model.BranchSelectList, "-Select-", new { @class = "dropdownsize form-control", tabindex = 9 })
                                </div>
                            </div>
                        </div>
                   
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">LastRefitFrom:</label>
                                <div class="col-md-8">

                                    @Html.TextBoxFor(x => x.RefitDockingSchedule.LastRefitFrom, "{0: dd MMMM yyyy}", new { @class = " datepicker textBoxsize form-control " })
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">LastRefitTo:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.RefitDockingSchedule.LastRefitTo, "{0: dd MMMM yyyy}", new { @class = " datepicker textBoxsize form-control " })
                                   
                                </div>

                            </div>
                        </div>
                      
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">LastDockingFrom:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.RefitDockingSchedule.LastDockingFrom, "{0: dd MMMM yyyy}", new { @class = " datepicker textBoxsize form-control " })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">LastDockingTo:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.RefitDockingSchedule.LastDockingTo, "{0: dd MMMM yyyy}", new { @class = " datepicker textBoxsize form-control " })
                                </div>

                            </div>
                        </div>
                       
                    </div>
                </fieldset>
            </div>
            <div class="form_group">
                <div style="float: right">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <div>@Html.ActionLink("Back to List", "Index", "RefitDockingSchedule", new { @class = "btn btn-primary" })</div>
            <div class="row">
                <div class="col-sm-offset-4" id="newpost" style="color:red; padding-left:3px;">
                    <p>@TempData["message"]</p>
                </div>
            </div>
        </div>
    }
</div>

