@using RMS.Web.Extensions
@model RMS.Web.Models.ViewModel.ShipMovementViewModel
@{
    ViewBag.Title = (Model.ShipMovement.ShipEmployedIdentity > 0) ? "Edit" : "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm("Save", "ShipMovement", FormMethod.Post, new { @class = "UserForm" }))
    {
        <div class="container">
            <div class="aaa">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">
                        Ship Employed During Quater
                    </legend>
                    <br />
                    @if (ViewBag.Title == "Edit")
                    {
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Serial Number:</label>
                                    <div class="col-md-8">
                                        @Html.DisplayFor(x => x.ShipMovement.ShipEmployedIdentity, "-Select-", new { @class = "dropdownsize form-control", tabindex = 9 })
                                        @Html.HiddenFor(x => x.ShipMovement.ShipEmployedIdentity)
                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Ship Name:</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.ShipMovement.ShipIdentity, Model.ShipMovementSelectListItems, "-Select-", new { @class = "dropdownsize form-control", tabindex = 9 })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Completion Date:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipMovement.CompletionDate, "{0: dd MMMM yyyy}", new { @class = " datepicker textBoxsize form-control " })
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Undergoing Refit:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipMovement.RefitDate, "{0: dd MMMM yyyy}", new { @class = " datefrom textBoxsize form-control ", placeholder = "Enter Date"                                                          })
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Unrefit:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipMovement.UnrefitDate, "{0: dd MMMM yyyy}", new { @class = " dateto textBoxsize form-control ", placeholder = "Enter Date" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">In Docking:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipMovement.DockingDate, "{0: dd MMMM yyyy}", new { @class = " datefrom1 textBoxsize form-control ", placeholder = "Enter Date" })
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Undocking Date:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipMovement.UndockingDate, "{0:dd MMMM yyyy}", new { @class = " dateto1 textBoxsize form-control ", placeholder = "Enter Date" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Maintenance Period:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipMovement.MaintenancePeriod, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Day" })
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Full Power Trial:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipMovement.PowerTrial, "{0:dd MMMM yyyy}", new { @class = " datepicker textBoxsize form-control ", placeholder = "Enter Date" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Non Operational:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipMovement.NonOperational, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Inspection By:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipMovement.InspectionBy, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">At Sea:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipMovement.AtSea, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Distance Run:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipMovement.DistanceRun, new { @class = "textBoxsize form-control", tabindex = 5, onkeypress = " return isNumberKey(event)", placeholder = "Enter Neumeric Value" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">At Normal Notice:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipMovement.AtNormalNotice, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Time UnderWay Hours:</label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.ShipMovement.TimeUnderWayHour, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Hour", style = "width: 80px;" })
                                </div>
                                <label class="col-md-2 control-label">Miniutes:</label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.ShipMovement.TimeUnderWayMiniute, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Minute", style = "width: 80px;" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Machinery Under Trial :</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.ShipMovement.MachineryUnderTrialRemarks, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Time Awaiting Order Hours:</label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.ShipMovement.TimeAwaitingOrderHour, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Hour", style = "width: 80px;" })
                                </div>
                                <label class="col-md-2 control-label">Miniutes:</label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.ShipMovement.TimeAwaitingOrderMiniute, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Minute", style = "width: 80px;" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Machinery UnderTrial Remarks:</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(x => x.ShipMovement.MachineryUnderTrialRemarks, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Engineer Officer Remarks:</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(x => x.ShipMovement.EngineerOfficerRemarks, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Administrative Authority Remarks:</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(x => x.ShipMovement.AdministrativeAuthorityRemarks, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Letter No:</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(x => x.ShipMovement.LetterNo, new { @class = "textBoxsize form-control", tabindex = 5, placeholder = "Enter Value" })
                                </div>

                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form_group">
                <div style="float: right">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <div><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("NavTab", "MachineryRunningInfo")'">Back to List </button></div>
            <div class="row">
                <div class="col-sm-offset-4" id="newpost" style="color:red; padding-left:3px;">
                    <p>@TempData["message"]</p>
                </div>
            </div>
        </div>


    }
</div>

