@model RMS.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Log in Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link href="~/CommonDesign/LoginUiforTest.css" rel="stylesheet" />
<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        margin: auto;
    }

    /*.commonbackground {
        background: rgba(242,246,248,1);
        background: -moz-linear-gradient(left, rgba(242,246,248,1) 4%, rgba(242,246,248,1) 8%, rgba(181,198,208,1) 41%, rgba(216,225,231,1) 70%, rgba(224,239,249,1) 91%, rgba(224,239,249,1) 98%);
        background: -webkit-gradient(left top, right top, color-stop(4%, rgba(242,246,248,1)), color-stop(8%, rgba(242,246,248,1)), color-stop(41%, rgba(181,198,208,1)), color-stop(70%, rgba(216,225,231,1)), color-stop(91%, rgba(224,239,249,1)), color-stop(98%, rgba(224,239,249,1)));
        background: -webkit-linear-gradient(left, rgba(242,246,248,1) 4%, rgba(242,246,248,1) 8%, rgba(181,198,208,1) 41%, rgba(216,225,231,1) 70%, rgba(224,239,249,1) 91%, rgba(224,239,249,1) 98%);
        background: -o-linear-gradient(left, rgba(242,246,248,1) 4%, rgba(242,246,248,1) 8%, rgba(181,198,208,1) 41%, rgba(216,225,231,1) 70%, rgba(224,239,249,1) 91%, rgba(224,239,249,1) 98%);
        background: -ms-linear-gradient(left, rgba(242,246,248,1) 4%, rgba(242,246,248,1) 8%, rgba(181,198,208,1) 41%, rgba(216,225,231,1) 70%, rgba(224,239,249,1) 91%, rgba(224,239,249,1) 98%);
        background: linear-gradient(to right, rgba(242,246,248,1) 4%, rgba(242,246,248,1) 8%, rgba(181,198,208,1) 41%, rgba(216,225,231,1) 70%, rgba(224,239,249,1) 91%, rgba(224,239,249,1) 98%);
    }*/

    .menubar {
        background: rgba(206,199,236,1);
        background: -moz-linear-gradient(left, rgba(206,199,236,1) 0%, rgba(206,199,236,1) 26%, rgba(216,208,239,1) 32%, rgba(235,233,249,1) 55%, rgba(194,192,234,1) 97%, rgba(193,191,234,1) 98%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(206,199,236,1)), color-stop(26%, rgba(206,199,236,1)), color-stop(32%, rgba(216,208,239,1)), color-stop(55%, rgba(235,233,249,1)), color-stop(97%, rgba(194,192,234,1)), color-stop(98%, rgba(193,191,234,1)));
        background: -webkit-linear-gradient(left, rgba(206,199,236,1) 0%, rgba(206,199,236,1) 26%, rgba(216,208,239,1) 32%, rgba(235,233,249,1) 55%, rgba(194,192,234,1) 97%, rgba(193,191,234,1) 98%);
        background: -o-linear-gradient(left, rgba(206,199,236,1) 0%, rgba(206,199,236,1) 26%, rgba(216,208,239,1) 32%, rgba(235,233,249,1) 55%, rgba(194,192,234,1) 97%, rgba(193,191,234,1) 98%);
        background: -ms-linear-gradient(left, rgba(206,199,236,1) 0%, rgba(206,199,236,1) 26%, rgba(216,208,239,1) 32%, rgba(235,233,249,1) 55%, rgba(194,192,234,1) 97%, rgba(193,191,234,1) 98%);
        background: linear-gradient(to right, rgba(206,199,236,1) 0%, rgba(206,199,236,1) 26%, rgba(216,208,239,1) 32%, rgba(235,233,249,1) 55%, rgba(194,192,234,1) 97%, rgba(193,191,234,1) 98%);
    }

    .commonMarquee {
        background: rgba(242,246,248,1);
        background: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(242,246,248,1) 7%, rgba(181,198,208,0.99) 31%, rgba(224,239,249,0.96) 88%, rgba(216,225,231,0.96) 99%, rgba(216,225,231,0.96) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(7%, rgba(242,246,248,1)), color-stop(31%, rgba(181,198,208,0.99)), color-stop(88%, rgba(224,239,249,0.96)), color-stop(99%, rgba(216,225,231,0.96)), color-stop(100%, rgba(216,225,231,0.96)));
        background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(242,246,248,1) 7%, rgba(181,198,208,0.99) 31%, rgba(224,239,249,0.96) 88%, rgba(216,225,231,0.96) 99%, rgba(216,225,231,0.96) 100%);
        background: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(242,246,248,1) 7%, rgba(181,198,208,0.99) 31%, rgba(224,239,249,0.96) 88%, rgba(216,225,231,0.96) 99%, rgba(216,225,231,0.96) 100%);
        background: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(242,246,248,1) 7%, rgba(181,198,208,0.99) 31%, rgba(224,239,249,0.96) 88%, rgba(216,225,231,0.96) 99%, rgba(216,225,231,0.96) 100%);
        background: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(242,246,248,1) 7%, rgba(181,198,208,0.99) 31%, rgba(224,239,249,0.96) 88%, rgba(216,225,231,0.96) 99%, rgba(216,225,231,0.96) 100%);
    }
</style>


@using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "LoginClass form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <section class="">
        <div class="login">
            <h1 style="background-color: white;"><img style="float: left; padding-left: 20px;" src="~/images/RemittInfinity.jpg" /><span style="float: left; padding-left: 10px; padding-top: 20px; font-size: 20px; color: darkblue">BANGLADESH NAVY</span></h1>
            <br /><br />
                  <form>
                      <p>@Html.TextBoxFor(x => x.UserName, new { @class = "form-control", autofocus = "autofocus", tabindex = 1, placeholder = "Enter User ID" })</p>
                      <p>@Html.PasswordFor(x => x.Password, new { @class = "form-control ", tabindex = 2, placeholder = "Enter Password" })</p>
                      <!-- Simple CAPTCHA -->
                      <p>
                          <strong>Solve this:</strong>
                          <span style="font-size: 16px; font-weight: bold; color: blue;">
                              @Session["CaptchaQuestion"]
                          </span>
                      </p>
                      <p>
                          @Html.TextBoxFor(x => x.CaptchaInput, new { @class = "form-control", placeholder = "Enter Answer" })
                          @Html.ValidationMessageFor(x => x.CaptchaInput)
                      </p>
                      <p class="submit"><input type="submit" class="btn btn-primary" value="Login" /></p>
                      @if (TempData["Msg"] != null)
                      {
                          <div class="alert alert-dismissable alert-info" style="color:red">
                              <button type="button" class="close" data-dismiss="alert">×</button>
                              @TempData["Msg"].ToString()
                          </div>
                      }

                  </form>
        </div>

    </section>
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}