@using RMS.Utility
@using RMS.Web.Extensions
@model RMS.Web.Models.ViewModel.ShipRepairViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h5>Ships / Crafts Repair Cost</h5>
        </div>
        <div class="body">
            <table>
                <tr>
                    <td>@Html.ActionLink("Add New", "Edit", "ShipRepairInfo", new { @class = "btn btn-primary" })</td>
                    <td>
                        @using (Html.BeginForm("SearchByKey", "ShipRepairInfo", FormMethod.Get, new { @class = "submit-allow ignore-validation" }))
                        {

                            <table>
                                <tr>
                                    <td>
                                        @Html.Label("Search Key")
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(x => x.SearchKey, new { @class = "textBoxsize form-control", tabindex = 1, autofocus = "autofocus", placeholder = "Serach Value" })
                                    </td>
                                    <td>
                                        @Html.SearchButton()
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>




<div class="row">
    @{
        var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
        grid.Bind(Model.ShipRepairInfoes, rowCount: Model.ShipRepairInfoes.Count, autoSortAndPage: true);
        grid.Pager(WebGridPagerModes.All);
        @grid.GetHtml(htmlAttributes: new { ShipRepairIdentity = "grid" },
                tableStyle: "webgrid-table webgrid",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "webgrid-row-style",
                firstText: "First",
                lastText: "Last",
                nextText: "Next",
                mode: WebGridPagerModes.All,
                previousText: "Previous",
                columns: grid.Columns(
                                                 grid.Column("ShipRepairIdentity", header: "Serial No"),
                                                 grid.Column("ShipInfoIdentity", header: "ShipId"),
                                        grid.Column("ShipInfo.ShipName", header: "Ship Name"),
                                                 grid.Column("FinantialYear"),
                                                                                     grid.Column("DockingStart", header: "Docking Start", format: item => ((item.DockingStart == null) ? "" : item.DockingStart.ToString("dd MMM yyyy"))),
                                                                                     grid.Column("DockingEnd", header: "Docking End", format: item => ((item.DockingEnd == null) ? "" : item.DockingEnd.ToString("dd MMM yyyy"))),
                                                 grid.Column("RepairCost"),
                                grid.Column("Edit", format: @<text>@Html.ActionLink("Edit", "Edit", "ShipRepairInfo", new { id = item.ShipRepairIdentity }, null)</text>),
                                grid.Column("Delete", format: @<text> @Html.ActionLink("Delete", "Delete", "ShipRepairInfo", new { id = item.ShipRepairIdentity }, null)</text>)

                                         ));
    }
</div>



